$background-color: #567e90;
$main-font-color: #b6dbecaa;
$svg-fill-color: #4d4b5b;
$button-background-color: #7f6895;
$button-font-color: #efefff;
$ether-icon-color: #756f79;
$amount-field-label-color: #3b6375aa;
