.container {
  height: 40rem;
  width: 45rem;
  background-color: rgb(137, 150, 162);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .dynamic-label {
    font-size: 2.5rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    height: 30rem;
    width: 30rem;
    // background-color: antiquewhite;
    &_input-cover {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: aliceblue;
      height: 2.5rem;
      width: 30rem;
      border-radius: 1.25rem;
      &_span1 {
        width: 10%;
        display: flex;
        svg {
          // height: 1.5rem;
          // width: 1.5rem;
          margin: 0.25rem;
          flex-grow: 0.5;
          fill: $ether-icon-color;
        }
      }
      &_span2 {
        &_label {
          position: relative;
          width: 100%;
          height: 100%;
          bottom: 0px;
          left: 0%;
          pointer-events: none;
          color: aqua;
          &_amount {
            position: relative;
            bottom: 5px;
            left: 0px;
            transition: all 0.3s ease;
            // &:focus {
            //   transform: translateY(-150%);
            //   font-size: 8px;
            // }
          }

          // &::after {
          //   content: "";
          //   position: absolute;
          //   width: 100%;
          //   height: 100%;
          //   // border-bottom: 3px solid #5fa8d3;
          //   bottom: -1px;
          //   left: 0px;
          //   transform: translateX(-100%);
          //   transition: all 0.3s ease;
          // }
        }
        &_input {
          background-color: inherit;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          &:focus {
            ~ label{
            // transform: translateX(-100%);
            font-size: 8px;
            top: -24px;
            }
          }
        }
      }
    }
  }
}
