@mixin buttonAndInputShape{
  height: 2.5rem;
  border-radius: 1.5rem;
}
.container {
  height: 40rem;
  width: 45rem;
  background-color: rgb(137, 150, 162);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .dynamic-label {
    font-size: 2.5rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    height: 30rem;
    width: 30rem;
    &_input-block{
      @include buttonAndInputShape;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;    
      background-color: aliceblue;
      &_field{
        position: relative;
        margin: 0.5rem 0.5rem;
        color: $amount-field-label-color;
        display: flex;
        flex-direction: column;
        &_input{  
          position: absolute;
          top: 0;
          left:0;      
          background-color: transparent;
          border: none;
          outline: none;
          caret-color: transparent;  
          &:focus ~ label{
            font-size: .7rem;
            transform:translateY(-65%);
          }
          &:valid ~ label{
            font-size: .7rem;
            transform:translateY(-65%);
          }
        }
        &_label{
          position: absolute;
          top: 0;
          left:0;
          font-size: 1.25rem;
        }
        
        
      }
      &_icon{       
        svg{
          margin-left: .25em;
          margin-top: 0.25em;
          height: 2rem;
          width: 2rem;
          fill: $ether-icon-color;
        }
      }
    }
    &_button{
      @include buttonAndInputShape
    }
  }
}
